<script>
  // Properties
  export const data = [];
  export let year_slider = 0;
  export let continents_dropdown = "all"
  
  const continents = ["europe", "asia", "americas", "africa"];
  const myTimer = (_) => {if (year_slider==214) {
    year_slider=0}
    else {year_slider+1;}
  }
  let clicked = false;
  let t;
  const repeat = () => {
    t= setInterval(myTimer, 100);
    clicked = true;
  }
  const stop = () => {
    clearInterval(t);
    clicked = false;
  }
  const reset = () => {clearInterval (t);
  clicked = false;
  year_slider = 0;
  }
</script>

<div class="row">
  <!--  -->
  <div>
    {#if clicked == false}
      <button class="btn btn-primary" on:click="{() => repeat()}">Start</button>
    {:else}
      <button class="btn btn-primary" on:click="{() => stop()}">Stop</button>
    {/if}
    <button class="btn btn-primary" on:click="{() => reset()}">Reset</button>
  </div>
  <div>
    <label for="slider">Year: {1800+year_slider}</label>
    <input type="range" class="form-range" min="0" max="214" bind:value={year_slider} id="slider" name="slider">
    <select name="cont" id="cont" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" bind:value={continents_dropdown}>
      <option value="all">All continents</option>
      <option value="europe">Europe</option>
      <option value="asia">Asia</option>
      <option value="americas">Americas</option>
      <option value="africa">Africa</option>
    </select>
  </div>
</div>
