<script>
    let count = 0;
    function handleClick () {count+=1}
    function reset() {count=0}
</script>

 <button type="button" class="btn-primary" on:click={handleClick}>You have clicked {count} times</button>
 <button type="button" class="btn-success" on:click={reset}>Reset</button>