<script>
  import { csv } from "d3-fetch";
  import { onMount } from "svelte";
  import Scatter from "./_ex_4_scatter.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await csv("/data/cars-2.csv");
  });

  // Configurations
  const s1 = {
    x: (d) => +d.Horsepower,
    y: (d) => +d.Acceleration,
    xLabel: "Horsepower",
    yLabel: "Acceleration"
  };
  const s2 = {
    x: (d) => +d.Displacement,
    y: (d) => +d.Miles_per_Gallon,
    xLabel: "Displacement",
    yLabel: "Miles per Gallon"
  };
  let bothplots = [];
  let localplot = [];
  let localplotright =[];

  $: bothplots = localplot.map((d,i)=> {return localplotright[i]==true && d == true});

</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <Scatter {data} {bothplots} {...s1} bind:localplot={localplot} />
  <Scatter {data} {bothplots} {...s2} bind:localplot={localplotright} />
{/if}
