<script>
    function circumference(radius) {
    return 2*Math.PI* radius;
  }
          
      </script>
  
      <p> The circumference of a circle with radius 3 is {circumference(3).toFixed(2)} </p>